spring:
  config:
    name: trak-api
  liquibase:
    change-log: classpath:liquibase.sql
  jpa:
    show-sql: true
  rabbitmq:
    username: trak
    password: password
    host: localhost
    virtual-host: /
    port: 5672
  redis:
    host: localhost
    port: 6379
    ssl: false

cache:
  duration: 300
